<header class="header">
  <div class="container">
    <a href="#" class="logo">Macaroons</a>
    <nav class="menu" id="menu">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
          <g>
            <g>
              <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z" />
            </g>
          </g>
        </svg>
      </div>
      <ul>
        <li class="menu-item">
          <a href="#cakes">Пироженки</a>
        </li>
        <li class="menu-item">
          <a href="#about">О нас</a>
        </li>
        <li class="menu-item">
          <a href="#order">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <a class="phone" href="tel:+375293689868">{{phoneNumber|phone}}</a>
    <div class="icon" id="burger">
      <div class="burger"></div>
      <div class="burger"></div>
      <div class="burger"></div>
    </div>
  </div>
</header>
<section class="intro">
  <div class="container">
    <div class="intro-info">
      <h1 class="intro-title">Мягкие французские пироженки Macaroons</h1>
      <p class="intro-text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
        Macaroon!</p>
      <button background class="button btn-intro" (click)="scrollTo(chooseMacaroon)">Выбрать макарун</button>
    </div>
    <div class="intro-image-wrap">
      <img class="intro-image" src="assets/images/macaroons.png" alt="macaroons">
      <div class="circle"></div>
      <div class="circle2"></div>
    </div>
  </div>

</section>
<section class="cook" id="about">
  <div class="container">
    <div class="cook-info">
      <h2 class="cook-info-title">Мы печём для вас
        вкуснейшие макаруны
        уже более 10 лет</h2>
      <p class="cook-info-text">Все пироженки мы готовим только из натуральных и качественных продуктов, без
        консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
        дрожжей, маргарина, разрыхлителей и улучшителей муки.</p>
    </div>
    <img class="cook-image" src="assets/images/macarooon.png" alt="macarooon">
  </div>
</section>
<section class="advantages">
  <div class="container">
    <ol class="advantages-list">
      <advantages *ngFor="let advantage of advantages; let i = index" [advantage]="advantage" [i]="i"></advantages>
    </ol>
  </div>
</section>
<section class="goods" id="cakes" #chooseMacaroon>
  <div class="container">
    <h2 class="goods-title">Выберите свой макарун</h2>
    <ol class="goods-list">
      <goods *ngFor="let good of goods" [good]="good" (addToCartEvent)="addToCart($event,orderElement)"></goods>
    </ol>
  </div>
</section>
<section class="order" id="order" #orderElement>
  <div class="container">
    <img class="strawberry" src="assets/images/клубника.png" alt="клубника">
    <img class="order-image" src="assets/images/macaron-footer.png" alt="макарун">
    <div class="order-wrap">
      <h2 class="order-title">Закажите макарун!</h2>
      <p class="order-text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </p>
      <form>
        <label>Ваш выбор
          <input name="product" type="text" placeholder="Напишите, что хотите заказать..."
            [(ngModel)]="formValues.productTitle">
        </label>
        <label>Заполните данные для заказа
          <input name="name" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        </label>
        <label></label>
        <input name="phone" type="text" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">

        <button class="button order-btn" background>Оформить заказ</button>
      </form>
      <img class="strawberry2" src="assets/images/клубника2.png" alt="клубника">
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <a href="#" class="logo">Macaroons</a>

    <a class="instagram" href={{instagram}} target="_blank">
      <img src="assets/images/instagram.png" alt="instagram">
      <span class="footer-text">Мы в Instagram</span>
    </a>
    <a class="phone" href="tel:+375293689868">+375 (29) 368-98-68</a>
    <span class="rights">Все права защищены, 2020</span>
  </div>
</footer>
<div class="present" *ngIf="showPresent">
  <span class="counter">{{cartService.count}}</span>
  <img src="assets/images/cart.png" width="55" height="52" alt="подарок">
  <div class="table">
    <!-- Оформите заказ и&nbsp;получите подарок! -->
    {{(cartService.total>0)?(cartService.total|currency:' '):cartService.total}} руб.
  </div>
</div>
